#include <windows.h>
#include "resource.h"

IDI_APPICON ICON "app.ico"

IDD_MAINDIALOG DIALOGEX 0, 0, 250, 250
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Auto Clicker"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "Click Interval",IDC_GRP_INTERVAL,10,10,230,40
    RTEXT           "Milliseconds:",IDC_STATIC,20,25,50,8
    EDITTEXT        IDC_EDIT_INTERVAL,75,22,60,14,ES_AUTOHSCROLL | ES_NUMBER
    
    GROUPBOX        "Click Options",IDC_GRP_BUTTON,10,55,110,40
    CONTROL         "Left Click",IDC_RADIO_LEFT,"Button",BS_AUTORADIOBUTTON | WS_GROUP,20,68,80,10
    CONTROL         "Right Click",IDC_RADIO_RIGHT,"Button",BS_AUTORADIOBUTTON,20,80,80,10
    
    GROUPBOX        "Click Position",IDC_GRP_POSITION,130,55,110,75
    CONTROL         "Current Cursor",IDC_RADIO_CURRENT,"Button",BS_AUTORADIOBUTTON | WS_GROUP,140,68,90,10
    CONTROL         "Fixed Location",IDC_RADIO_FIXED,"Button",BS_AUTORADIOBUTTON,140,80,90,10
    LTEXT           "X:",IDC_STATIC,140,95,10,8
    EDITTEXT        IDC_EDIT_X,155,93,30,12,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Y:",IDC_STATIC,190,95,10,8
    EDITTEXT        IDC_EDIT_Y,205,93,30,12,ES_AUTOHSCROLL | ES_NUMBER

    PUSHBUTTON      "Start (F6)",IDC_BTN_STARTSTOP,10,135,230,30
    PUSHBUTTON      "Change Theme",IDC_BTN_THEME,10,170,230,14
    
    LTEXT           "Status: Stopped",IDC_STAT_STATUS,10,190,100,8
    RTEXT           "Clicks: 0",IDC_STAT_CLICKS,130,190,110,8
    CTEXT           "Hotkeys: F6 to Start/Stop",IDC_STAT_HOTKEY,10,205,230,8
    
    CONTROL         "",IDC_HOTKEY_FIELD,"msctls_hotkey32",WS_BORDER | WS_TABSTOP,10,225,80,14
    PUSHBUTTON      "Set Hotkey",IDC_BTN_SETHOTKEY,95,225,60,14
END
